<a href="https://colab.research.google.com/github/danammanisha/Bank-Customer-Account-Transaction-Analysis-using-SQL/blob/main/bank_customer(project).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
!apt-get install sqlite3
!pip install pandas

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 1 not upgraded.
Need to get 769 kB of archives.
After this operation, 1,874 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.5 [769 kB]
Fetched 769 kB in 0s (6,477 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 117528 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.5_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.5) ...
Setting up sqlite3 (3.37.2-2ubuntu0.5) ...
Processing triggers for man-db (2.10.2-1) ...
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import sqlite3
import pandas as pd
import os

In [5]:
conn = sqlite3.connect("my_database.db")

In [6]:
#Define the correct path for the database
db_path = ("/content/drive/MyDrive/my_database.db")

In [7]:
db_folder = ("/content/drive/MyDrive/db_folder")
os.makedirs(db_folder, exist_ok=True)  # Ensure the folder exists
db_path = os.path.join(db_folder, "my_database.db")

conn = sqlite3.connect("db path")
cursor = conn.cursor()

print("Database connected at:", db_path)

Database connected at: /content/drive/MyDrive/db_folder/my_database.db

In [8]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

**CUSTOMER TABLE**

In [9]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS BANK_CUSTOMER(
              customer_id INT ,
             	customer_name VARCHAR(20),
             	Address 	VARCHAR(20),
             	state_code  VARCHAR(3) ,
             	Telephone   VARCHAR(10)	);
'''
)
conn.commit()

In [10]:
def BANK_CUSTOMER(customer_id, customer_name, address, state_code, telephone):
  cursor.execute(
      'INSERT INTO BANK_CUSTOMER(customer_id, customer_name, address, state_code, telephone) VALUES (?, ?, ?, ?, ?)' ,
      (customer_id, customer_name, address, state_code, telephone)
  )
  conn.commit()

In [11]:
BANK_CUSTOMER(123001,"Oliver", "225-5, Emeryville", "CA" , "1897614500")
BANK_CUSTOMER(123002,"George", "194-6,New brighton","MN" , "1897617000")
BANK_CUSTOMER(123003,"Harry", "2909-5,walnut creek","CA" , "1897617866")
BANK_CUSTOMER(123004,"Jack", "229-5, Concord",  	"CA" , "1897627999")
BANK_CUSTOMER(123005,"Jacob", "325-7, Mission Dist","SFO", "1897637000")
BANK_CUSTOMER(123006,"Noah", "275-9, saint-paul" ,  "MN" , "1897613200")
BANK_CUSTOMER(123007,"Charlie","125-1,Richfield",   "MN" , "1897617666")
BANK_CUSTOMER(123008,"Robin","3005-1, Heathrow", 	"NY" , "1897614000")

In [12]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_CUSTOMER")
rows = cursor.fetchall()

print(tabulate(rows, headers=[desc[0] for desc in cursor.description], tablefmt="grid"))

+---------------+-----------------+---------------------+--------------+-------------+
|   customer_id | customer_name   | Address             | state_code   |   Telephone |
+===============+=================+=====================+==============+=============+
|        123001 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton  | MN           |  1897617000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123003 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123004 | Jack            | 229-5, Concord      | CA           |  1897627999 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123005 | Jacob           | 325-7, Mission Dist | SFO          |  1897637000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123006 | Noah            | 275-9, saint-paul   | MN           |  1897613200 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123007 | Charlie         | 125-1,Richfield     | MN           |  1897617666 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123008 | Robin           | 3005-1, Heathrow    | NY           |  1897614000 |
+---------------+-----------------+---------------------+--------------+-------------+

**BANK CUSTOMER EXPORT**

In [13]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS BANK_CUSTOMER_EXPORT(
      customer_id CHAR(10),
      customer_name CHAR(20),
      Address CHAR(20),
      state_code  CHAR(3) ,
      Telephone  CHAR(10));
'''
)
conn.commit()

In [14]:
def BANK_CUSTOMER_EXPORT(customer_id, customer_name, address, state_code, telephone):
  cursor.execute(
      'INSERT INTO BANK_CUSTOMER_EXPORT(customer_id, customer_name, address, state_code, telephone) VALUES (?, ?, ?, ?, ?)' ,
      (customer_id, customer_name, address, state_code, telephone)
  )
  conn.commit()

In [15]:
BANK_CUSTOMER_EXPORT("123001 ","Oliver", "225-5, Emeryville", "CA" , "1897614500")
BANK_CUSTOMER_EXPORT("123002 ","George", "194-6,New brighton","MN" , "189761700")

In [16]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_CUSTOMER_EXPORT")
rows = cursor.fetchall()

print(tabulate(rows, headers=[desc[0] for desc in cursor.description], tablefmt="grid"))

+---------------+-----------------+--------------------+--------------+-------------+
|   customer_id | customer_name   | Address            | state_code   |   Telephone |
+===============+=================+====================+==============+=============+
|       123001  | Oliver          | 225-5, Emeryville  | CA           |  1897614500 |
+---------------+-----------------+--------------------+--------------+-------------+
|       123002  | George          | 194-6,New brighton | MN           |   189761700 |
+---------------+-----------------+--------------------+--------------+-------------+

**BANK ACCOUNT DETAILS**

In [17]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS BANK_ACCOUNT_DETAILS(
                 Customer_id INT,
                 Account_Number VARCHAR(19),
                 Account_type VARCHAR(25),
                 Balance_amount INT,
                 Account_status VARCHAR(10),
                 Relationship_type varchar(1) );
'''
)
conn.commit()

In [18]:
def BANK_ACCOUNT_DETAILS(customer_id, Account_Number, Account_type, Balance_amount, Account_status, Relationship_type):
  cursor.execute(
      'INSERT INTO BANK_ACCOUNT_DETAILS(customer_id, Account_Number, Account_type, Balance_amount, Account_status, Relationship_type) VALUES (?, ?, ?, ?, ?, ?)' ,
      (customer_id, Account_Number, Account_type, Balance_amount, Account_status, Relationship_type)
  )
  conn.commit()

In [19]:
BANK_ACCOUNT_DETAILS(123001, "4000-1956-3456",  "SAVINGS" , 200000 ,"ACTIVE","P")
BANK_ACCOUNT_DETAILS(123001, "5000-1700-3456", "RECURRING DEPOSITS" ,9400000 ,"ACTIVE","S")
BANK_ACCOUNT_DETAILS(123002, "4000-1956-2001",  "SAVINGS", 400000 ,"ACTIVE","P")
BANK_ACCOUNT_DETAILS(123002, "5000-1700-5001",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
BANK_ACCOUNT_DETAILS(123003, "4000-1956-2900",  "SAVINGS" ,750000,"INACTIVE","P")
BANK_ACCOUNT_DETAILS(123004, "5000-1700-6091", "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
BANK_ACCOUNT_DETAILS(123004, "4000-1956-3401",  "SAVINGS" , 655000 ,"ACTIVE","P")
BANK_ACCOUNT_DETAILS(123005, "4000-1956-5102",  "SAVINGS" , 300000 ,"ACTIVE","P")
BANK_ACCOUNT_DETAILS(123006, "4000-1956-5698",  "SAVINGS" , 455000 ,"ACTIVE" ,"P")
BANK_ACCOUNT_DETAILS(123007, "5000-1700-9800",  "SAVINGS" , 355000 ,"ACTIVE" ,"P")
BANK_ACCOUNT_DETAILS(123007, "4000-1956-9977",  "RECURRING DEPOSITS" , 7025000,"ACTIVE" ,"S")
BANK_ACCOUNT_DETAILS(123007, "9000-1700-7777-4321",  "Credit Card"	,0  ,"INACTIVE", "P")
BANK_ACCOUNT_DETAILS(123007, '5900-1900-9877-5543', "Add-on Credit Card" ,   0   ,"ACTIVE", "S")
BANK_ACCOUNT_DETAILS(123008, "5000-1700-7755",  "SAVINGS"   	,0   	,"INACTIVE","P")
BANK_ACCOUNT_DETAILS(123006, '5800-1700-9800-7755', "Credit Card"   ,0   	,"ACTIVE", "P")
BANK_ACCOUNT_DETAILS(123006, '5890-1970-7706-8912', "Add-on Credit Card"   ,0   	,"ACTIVE", "S")

In [20]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_ACCOUNT_DETAILS")
rows = cursor.fetchall()

print(tabulate(rows, headers=[desc[0] for desc in cursor.description], tablefmt="grid"))

+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|   Customer_id | Account_Number      | Account_type       |   Balance_amount | Account_status   | Relationship_type   |
+===============+=====================+====================+==================+==================+=====================+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card |                0 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 5800-1700-9800-7755 | Credit Card        |                0 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card |                0 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+

**BANK ACCOUNT TABLE**

In [21]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS BANK_ACCOUNT_TABLE(
                 Customer_id INT,
                 Account_Number VARCHAR(19),
                 Account_type VARCHAR(25),
                 Balance_amount INT,
                 Account_status VARCHAR(10),
                 Relationship_type varchar(1) );
'''
)
conn.commit()

In [22]:
def BANK_ACCOUNT_TABLE(customer_id, Account_Number, Account_type, Balance_amount, Account_status, Relationship_type):
  cursor.execute(
      'INSERT INTO BANK_ACCOUNT_TABLE(customer_id, Account_Number, Account_type, Balance_amount, Account_status, Relationship_type) VALUES (?, ?, ?, ?, ?, ?)' ,
      (customer_id, Account_Number, Account_type, Balance_amount, Account_status, Relationship_type)
  )
  conn.commit()

In [23]:
BANK_ACCOUNT_TABLE(123001, "4000-1956-3456",  "SAVINGS"            , 200000 ,"ACTIVE","P")
BANK_ACCOUNT_TABLE(123001, "5000-1700-3456",  "RECURRING DEPOSITS" ,9400000 ,"ACTIVE","S")
BANK_ACCOUNT_TABLE(123002, "4000-1956-2001",  "SAVINGS"            , 400000 ,"ACTIVE","P")
BANK_ACCOUNT_TABLE(123002, "5000-1700-5001",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
BANK_ACCOUNT_TABLE(123003, "4000-1956-2900",  "SAVINGS"            ,750000,"INACTIVE","P")
BANK_ACCOUNT_TABLE(123004, "5000-1700-6091",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
BANK_ACCOUNT_TABLE(123004, "4000-1956-3401",  "SAVINGS"            , 655000 ,"ACTIVE","P")
BANK_ACCOUNT_TABLE(123005, "4000-1956-5102",  "SAVINGS"            , 300000 ,"ACTIVE","P")
BANK_ACCOUNT_TABLE(123006, "4000-1956-5698",  "SAVINGS"            , 455000 ,"ACTIVE" ,"P")
BANK_ACCOUNT_TABLE(123007, "5000-1700-9800",  "SAVINGS"            , 355000 ,"ACTIVE" ,"P")
BANK_ACCOUNT_TABLE(123007, "4000-1956-9977",  "RECURRING DEPOSITS" , 7025000,"ACTIVE" ,"S")
BANK_ACCOUNT_TABLE(123007, "9000-1700-7777-4321",  "CREDITCARD"    ,0      ,"INACTIVE","P")
BANK_ACCOUNT_TABLE(123008, "5000-1700-7755",  "SAVINGS"            ,"NULL"   ,"INACTIVE","P")

In [24]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_ACCOUNT_TABLE")
rows = cursor.fetchall()

print(tabulate(rows, headers=[desc[0] for desc in cursor.description], tablefmt="grid"))

+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|   Customer_id | Account_Number      | Account_type       | Balance_amount   | Account_status   | Relationship_type   |
+===============+=====================+====================+==================+==================+=====================+
|        123001 | 4000-1956-3456      | SAVINGS            | 200000           | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 9400000          | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 4000-1956-2001      | SAVINGS            | 400000           | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 7500000          | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123003 | 4000-1956-2900      | SAVINGS            | 750000           | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 7500000          | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 4000-1956-3401      | SAVINGS            | 655000           | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123005 | 4000-1956-5102      | SAVINGS            | 300000           | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 4000-1956-5698      | SAVINGS            | 455000           | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5000-1700-9800      | SAVINGS            | 355000           | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 7025000          | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 9000-1700-7777-4321 | CREDITCARD         | 0                | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123008 | 5000-1700-7755      | SAVINGS            | NULL             | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+

**BANK ACCOUNT RELATIONSHIP DETAILS**

In [25]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS BANK_ACCOUNT_RELATIONSHIP_DETAILS(
          Customer_id INT,
					Account_Number VARCHAR(19),
          Account_type VARCHAR(25),
          Linking_Account_Number VARCHAR(19));

'''
)
conn.commit()

In [26]:
def BANK_ACCOUNT_RELATIONSHIP_DETAILS(customer_id, Account_Number, Account_type, Lniking_Account_Number):
  cursor.execute(
      'INSERT INTO BANK_ACCOUNT_RELATIONSHIP_DETAILS(customer_id, Account_Number, Account_type, Linking_Account_Number) VALUES (?, ?, ?, ?)' ,
      (customer_id, Account_Number, Account_type,Lniking_Account_Number)
  )
  conn.commit()

In [27]:
BANK_ACCOUNT_RELATIONSHIP_DETAILS(123001, "4000-1956-3456",  "SAVINGS" , "")
BANK_ACCOUNT_RELATIONSHIP_DETAILS(123001, "5000-1700-3456",  "RECURRING DEPOSITS" , "4000-1956-3456")
BANK_ACCOUNT_RELATIONSHIP_DETAILS(123002, "4000-1956-2001",  "SAVINGS" , "" )
BANK_ACCOUNT_RELATIONSHIP_DETAILS(123002, "5000-1700-5001",  "RECURRING DEPOSITS" , "4000-1956-2001" )
BANK_ACCOUNT_RELATIONSHIP_DETAILS(123003, "4000-1956-2900",  "SAVINGS" , "" )
BANK_ACCOUNT_RELATIONSHIP_DETAILS(123004, "5000-1700-6091",  "RECURRING DEPOSITS" , "4000-1956-2900" )
BANK_ACCOUNT_RELATIONSHIP_DETAILS(123004, "5000-1700-7791",  "RECURRING DEPOSITS" , "4000-1956-2900" )
BANK_ACCOUNT_RELATIONSHIP_DETAILS(123007, "5000-1700-9800",  "SAVINGS" , "" )
BANK_ACCOUNT_RELATIONSHIP_DETAILS(123007, "4000-1956-9977",  "RECURRING DEPOSITS" , "5000-1700-9800" )
BANK_ACCOUNT_RELATIONSHIP_DETAILS("NULL", "9000-1700-7777-4321",  "Credit Card" , "5000-1700-9800" )
BANK_ACCOUNT_RELATIONSHIP_DETAILS("NULL", '5900-1900-9877-5543', 'Add-on Credit Card', '9000-1700-7777-4321' )
BANK_ACCOUNT_RELATIONSHIP_DETAILS("NULL", '5800-1700-9800-7755', 'Credit Card', '4000-1956-5698' )
BANK_ACCOUNT_RELATIONSHIP_DETAILS("NULL", '5890-1970-7706-8912', 'Add-on Credit Card', '5800-1700-9800-7755' )

In [28]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_ACCOUNT_RELATIONSHIP_DETAILS")
rows = cursor.fetchall()

print(tabulate(rows, headers=[desc[0] for desc in cursor.description], tablefmt="grid"))

+---------------+---------------------+--------------------+--------------------------+
| Customer_id   | Account_Number      | Account_type       | Linking_Account_Number   |
+===============+=====================+====================+==========================+
| 123001        | 4000-1956-3456      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123001        | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------+---------------------+--------------------+--------------------------+
| 123002        | 4000-1956-2001      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123002        | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------+---------------------+--------------------+--------------------------+
| 123003        | 4000-1956-2900      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123004        | 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
| 123004        | 5000-1700-7791      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
| 123007        | 5000-1700-9800      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123007        | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
| NULL          | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
| NULL          | 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |
+---------------+---------------------+--------------------+--------------------------+
| NULL          | 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |
+---------------+---------------------+--------------------+--------------------------+
| NULL          | 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |
+---------------+---------------------+--------------------+--------------------------+

**BANK ACCOUNT TRANSACTION**

In [29]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS BANK_ACCOUNT_TRANSACTION(
    Account_Number VARCHAR(19),
    Transaction_amount DECIMAL(18,2),
    Transaction_channel VARCHAR(18),
    Province VARCHAR(3),
    Transaction_Date DATE
);
''')
conn.commit()

In [30]:
def BANK_ACCOUNT_TRANSACTION(Account_Number, Transaction_amount, Transaction_channel, Province, Transaction_Date):
  cursor.execute(
      'INSERT INTO BANK_ACCOUNT_TRANSACTION(Account_Number, Transaction_amount, Transaction_channel, Province, Transaction_Date) VALUES (?, ?, ?, ?, ?)' ,
      (Account_Number, Transaction_amount, Transaction_channel, Province, Transaction_Date)
  )
  conn.commit()

In [31]:
BANK_ACCOUNT_TRANSACTION("4000-1956-3456", -2000, "ATM withdrawl", "CA", "2020-01-13")
BANK_ACCOUNT_TRANSACTION("4000-1956-2001", -4000, "POS-Walmart", "MN", "2020-02-14")
BANK_ACCOUNT_TRANSACTION("4000-1956-2001", -1600, "UPI transfer", "MN", "2020-01-19")
BANK_ACCOUNT_TRANSACTION("4000-1956-2001", -6000, "Bankers cheque", "CA", "2020-03-23")
BANK_ACCOUNT_TRANSACTION("4000-1956-2001", -3000, "Net banking", "CA", "2020-04-24")
BANK_ACCOUNT_TRANSACTION("4000-1956-2001", 23000, "cheque deposit", "MN", "2020-03-15")
BANK_ACCOUNT_TRANSACTION("5000-1700-6091", 40000, "ECS transfer", "NY", "2020-02-19")
BANK_ACCOUNT_TRANSACTION("5000-1700-7791", 40000, "ECS transfer", "NY", "2020-02-19")
BANK_ACCOUNT_TRANSACTION("4000-1956-3401", 8000, "Cash Deposit", "NY", "2020-01-19")
BANK_ACCOUNT_TRANSACTION("4000-1956-5102", -6500, "ATM withdrawal", "NY", "2020-03-14")
BANK_ACCOUNT_TRANSACTION("4000-1956-5698", -9000, "Cash Deposit", "NY", "2020-03-27")
BANK_ACCOUNT_TRANSACTION("4000-1956-9977", 50000, "ECS transfer", "NY", "2020-01-16")
BANK_ACCOUNT_TRANSACTION("9000-1700-7777-4321", -5000, "POS-Walmart", "NY", "2020-02-17")
BANK_ACCOUNT_TRANSACTION("9000-1700-7777-4321", -8000, "Shopping Cart", "MN", "2020-03-13")
BANK_ACCOUNT_TRANSACTION("9000-1700-7777-4321", -2500, "Shopping Cart", "MN", "2020-04-21")
BANK_ACCOUNT_TRANSACTION("5800-1700-9800-7755", -9000, "POS-Walmart", "MN", "2020-04-13")
BANK_ACCOUNT_TRANSACTION("5890-1970-7706-8912", -11000, "Shopping Cart", "NY", "2020-03-12")

In [32]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_ACCOUNT_TRANSACTION")
rows = cursor.fetchall()

print(tabulate(rows, headers=[desc[0] for desc in cursor.description], tablefmt="grid"))

+---------------------+----------------------+-----------------------+------------+--------------------+
| Account_Number      |   Transaction_amount | Transaction_channel   | Province   | Transaction_Date   |
+=====================+======================+=======================+============+====================+
| 4000-1956-3456      |                -2000 | ATM withdrawl         | CA         | 2020-01-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -4000 | POS-Walmart           | MN         | 2020-02-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -1600 | UPI transfer          | MN         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -6000 | Bankers cheque        | CA         | 2020-03-23         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -3000 | Net banking           | CA         | 2020-04-24         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                23000 | cheque deposit        | MN         | 2020-03-15         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-6091      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-7791      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3401      |                 8000 | Cash Deposit          | NY         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5102      |                -6500 | ATM withdrawal        | NY         | 2020-03-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5698      |                -9000 | Cash Deposit          | NY         | 2020-03-27         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                50000 | ECS transfer          | NY         | 2020-01-16         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -5000 | POS-Walmart           | NY         | 2020-02-17         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -8000 | Shopping Cart         | MN         | 2020-03-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -2500 | Shopping Cart         | MN         | 2020-04-21         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5800-1700-9800-7755 |                -9000 | POS-Walmart           | MN         | 2020-04-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5890-1970-7706-8912 |               -11000 | Shopping Cart         | NY         | 2020-03-12         |
+---------------------+----------------------+-----------------------+------------+--------------------+

**BANK CUSTOMER MESSAGES**

In [33]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS BANK_CUSTOMER_MESSAGES (
              	Event VARCHAR(24),
              	Customer_message VARCHAR(75),
              	Notice_delivery_mode VARCHAR(15)) ;
'''
)
conn.commit()

In [34]:
def BANK_CUSTOMER_MESSAGES(Event, Customer_message, Notice_delivery_mode):
  cursor.execute(
      'INSERT INTO BANK_CUSTOMER_MESSAGES(Event, Customer_message, Notice_delivery_mode) VALUES (?, ?, ?)' ,
      (Event, Customer_message, Notice_delivery_mode)
  )
  conn.commit()

In [35]:
BANK_CUSTOMER_MESSAGES( "Adhoc", "All Banks are closed due to announcement of National strike", "mobile" )
BANK_CUSTOMER_MESSAGES( "Transaction Limit", "Only limited withdrawals per card are allowed from ATM machines", "mobile" )

In [36]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_CUSTOMER_MESSAGES")
rows = cursor.fetchall()

print(tabulate(rows, headers=[desc[0] for desc in cursor.description], tablefmt="grid"))

+-------------------+-----------------------------------------------------------------+------------------------+
| Event             | Customer_message                                                | Notice_delivery_mode   |
+===================+=================================================================+========================+
| Adhoc             | All Banks are closed due to announcement of National strike     | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+
| Transaction Limit | Only limited withdrawals per card are allowed from ATM machines | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+

**BANK INTEREST RATE**

In [37]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS BANK_INTEREST_RATE(
            	account_type varchar(24),
              interest_rate decimal(4,2),
            	month varchar(2),
            	year  varchar(4));
'''
)
conn.commit()

In [38]:
def BANK_INTEREST_RATE(account_type, interest_rate, month, year):
  cursor.execute(
      'INSERT INTO BANK_INTEREST_RATE(account_type, interest_rate, month, year) VALUES (?, ?, ?, ?)' ,
      (account_type, interest_rate, month, year)
  )
  conn.commit()

In [39]:
BANK_INTEREST_RATE( "SAVINGS" , 0.04 , '02' , '2020' )
BANK_INTEREST_RATE( "RECURRING DEPOSITS" , 0.07, '02' , '2020' )
BANK_INTEREST_RATE( "PRIVILEGED_INTEREST_RATE" , 0.08 , '02' , '2020' )

In [40]:
from tabulate import tabulate

cursor.execute("SELECT * FROM BANK_INTEREST_RATE")
rows = cursor.fetchall()

print(tabulate(rows, headers=[desc[0] for desc in cursor.description], tablefmt="grid"))

+--------------------------+-----------------+---------+--------+
| account_type             |   interest_rate |   month |   year |
+==========================+=================+=========+========+
| SAVINGS                  |            0.04 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| RECURRING DEPOSITS       |            0.07 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| PRIVILEGED_INTEREST_RATE |            0.08 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+

**1) Print customer Id, customer name and average account_balance maintained by each customer for all  of his/her accounts in the bank.(8 Rows)**

In [41]:
cursor.execute('''
SELECT
    b.Customer_id,
    a.customer_name,
    AVG(b.Balance_amount) AS avg_balance
FROM
   BANK_ACCOUNT_DETAILS b
JOIN
   BANK_CUSTOMER a
ON
   b.Customer_id = a.customer_id
GROUP BY
    b.Customer_id,
    a.customer_name;
''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(123001, 'Oliver', 4800000.0)
(123002, 'George', 3950000.0)
(123003, 'Harry', 750000.0)
(123004, 'Jack', 4077500.0)
(123005, 'Jacob', 300000.0)
(123006, 'Noah', 151666.66666666666)
(123007, 'Charlie', 1845000.0)
(123008, 'Robin', 0.0)

**2) Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows)**

In [42]:
cursor.execute('''
SELECT
    b.Customer_id,
    b.Account_Number,
    CASE
        WHEN b.Balance_amount IS NULL THEN t.Transaction_amount
        ELSE b.Balance_amount
    END AS final_amount
FROM
    BANK_ACCOUNT_DETAILS b
LEFT JOIN
    BANK_ACCOUNT_TRANSACTION t
ON
    b.Account_Number = t.Account_Number
WHERE
    b.Account_type = 'Credit Card'
LIMIT 4;
''')

rows = cursor.fetchall()

for row in rows:
  print(row)

(123007, '9000-1700-7777-4321', 0)
(123007, '9000-1700-7777-4321', 0)
(123007, '9000-1700-7777-4321', 0)
(123006, '5800-1700-9800-7755', 0)

**3) Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows)**

In [43]:
cursor.execute('''
SELECT
    b.Account_Number,
    b.Balance_amount,
    t.Transaction_amount,
    t.Transaction_Date
FROM BANK_ACCOUNT_DETAILS b
JOIN BANK_ACCOUNT_TRANSACTION t
    ON b.Account_Number = t.Account_Number
WHERE
    strftime('%Y-%m', t.Transaction_Date) IN ('2020-03', '2020-04')
LIMIT 12;
''')
rows = cursor.fetchall()

for row in rows:
  print(row)

('4000-1956-2001', 400000, -6000, '2020-03-23')
('4000-1956-2001', 400000, -3000, '2020-04-24')
('4000-1956-2001', 400000, 23000, '2020-03-15')
('4000-1956-5102', 300000, -6500, '2020-03-14')
('4000-1956-5698', 455000, -9000, '2020-03-27')
('9000-1700-7777-4321', 0, -8000, '2020-03-13')
('9000-1700-7777-4321', 0, -2500, '2020-04-21')
('5800-1700-9800-7755', 0, -9000, '2020-04-13')
('5890-1970-7706-8912', 0, -11000, '2020-03-12')

**4) Print all of the customer id, account number,  balance_amount, transaction_amount , Transaction_Date  from bank_customer, Bank_Account_Details and bank_account_transaction tables where excluding all of their transactions in march, 2020  month (22 Rows)**

In [44]:
cursor.execute('''
SELECT
    b.Customer_id,
    a.Account_Number,
    a.Balance_amount,
    t.Transaction_amount,
    t.Transaction_Date
FROM
    BANK_CUSTOMER b
JOIN
    BANK_ACCOUNT_DETAILS a
ON
    b.Customer_id = a.Customer_id
JOIN
    BANK_ACCOUNT_TRANSACTION t
ON
    a.Account_Number = t.Account_Number
WHERE
     strftime('%Y-%m', t.Transaction_Date) != '2020-03';
'''
)
rows = cursor.fetchall()

for row in rows:
  print(row)

(123001, '4000-1956-3456', 200000, -2000, '2020-01-13')
(123002, '4000-1956-2001', 400000, -4000, '2020-02-14')
(123002, '4000-1956-2001', 400000, -1600, '2020-01-19')
(123002, '4000-1956-2001', 400000, -3000, '2020-04-24')
(123004, '5000-1700-6091', 7500000, 40000, '2020-02-19')
(123004, '4000-1956-3401', 655000, 8000, '2020-01-19')
(123007, '4000-1956-9977', 7025000, 50000, '2020-01-16')
(123007, '9000-1700-7777-4321', 0, -5000, '2020-02-17')
(123007, '9000-1700-7777-4321', 0, -2500, '2020-04-21')
(123006, '5800-1700-9800-7755', 0, -9000, '2020-04-13')

**5) Print only the customer id, account_number, balance_amount,transaction_amount ,transaction_date who did transactions during the first quarter. Do not display the accounts if they have not done any transactions in the first quarter.(16 Rows)**

In [45]:
cursor.execute('''
SELECT
    b.Customer_id,
    a.Account_Number,
    a.Balance_amount,
    t.Transaction_amount,
    t.Transaction_Date
FROM
    BANK_CUSTOMER b
JOIN
    BANK_ACCOUNT_DETAILS a
ON
    b.Customer_id = a.Customer_id
JOIN
    BANK_ACCOUNT_TRANSACTION t
ON
    a.Account_Number = t.Account_Number
WHERE
    strftime('%m', t.Transaction_Date) IN ('01', '02', '03')
LIMIT 16;
'''
)
rows = cursor.fetchall()

for row in rows:
  print(row)

(123001, '4000-1956-3456', 200000, -2000, '2020-01-13')
(123002, '4000-1956-2001', 400000, -4000, '2020-02-14')
(123002, '4000-1956-2001', 400000, -1600, '2020-01-19')
(123002, '4000-1956-2001', 400000, -6000, '2020-03-23')
(123002, '4000-1956-2001', 400000, 23000, '2020-03-15')
(123004, '5000-1700-6091', 7500000, 40000, '2020-02-19')
(123004, '4000-1956-3401', 655000, 8000, '2020-01-19')
(123005, '4000-1956-5102', 300000, -6500, '2020-03-14')
(123006, '4000-1956-5698', 455000, -9000, '2020-03-27')
(123007, '4000-1956-9977', 7025000, 50000, '2020-01-16')
(123007, '9000-1700-7777-4321', 0, -5000, '2020-02-17')
(123007, '9000-1700-7777-4321', 0, -8000, '2020-03-13')
(123006, '5890-1970-7706-8912', 0, -11000, '2020-03-12')

**6) Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details to display an Adhoc" Event for all customers who have  SAVINGS" account_type account.(8 Rows)**

In [46]:
cursor.execute('''
SELECT
    a.Account_Number,
    b.Event,
    b.Customer_Message
FROM
    BANK_ACCOUNT_DETAILS a
JOIN
    BANK_CUSTOMER_MESSAGES b
WHERE
    a.Account_type = 'SAVINGS'
AND
    b.Event = 'Adhoc';
'''
)
rows = cursor.fetchall()

for row in rows:
  print(row)

('4000-1956-3456', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('4000-1956-2001', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('4000-1956-2900', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('4000-1956-3401', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('4000-1956-5102', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('4000-1956-5698', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('5000-1700-9800', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('5000-1700-7755', 'Adhoc', 'All Banks are closed due to announcement of National strike')

**7)Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by  subtracting only negative transaction_amounts for Relationship_type ="P" ( P - means  Primary , S - means Secondary ) .(27 Rows)**

In [47]:
cursor.execute('''
SELECT
    b.Customer_id,
    b.Account_Number,
    b.Account_Type,
    b.Balance_amount -
        CASE
            WHEN negative_tx.total_negative IS NULL THEN 0
            ELSE negative_tx.total_negative
        END AS deducted_balance
FROM BANK_ACCOUNT_DETAILS b
LEFT JOIN (
    SELECT
        Account_Number,
        SUM(
            CASE
                WHEN Transaction_amount < 0 THEN Transaction_amount
                ELSE 0
            END
        ) AS total_negative
    FROM BANK_ACCOUNT_TRANSACTION
    GROUP BY Account_Number
) negative_tx
    ON b.Account_Number = negative_tx.Account_Number
WHERE b.Relationship_type = 'P';
''')
rows = cursor.fetchall()

for row in rows:
  print(row)

(123001, '4000-1956-3456', 'SAVINGS', 202000)
(123002, '4000-1956-2001', 'SAVINGS', 414600)
(123003, '4000-1956-2900', 'SAVINGS', 750000)
(123004, '4000-1956-3401', 'SAVINGS', 655000)
(123005, '4000-1956-5102', 'SAVINGS', 306500)
(123006, '4000-1956-5698', 'SAVINGS', 464000)
(123007, '5000-1700-9800', 'SAVINGS', 355000)
(123007, '9000-1700-7777-4321', 'Credit Card', 15500)
(123008, '5000-1700-7755', 'SAVINGS', 0)
(123006, '5800-1700-9800-7755', 'Credit Card', 9000)

**8a) Display records of All Accounts , their Account_types, the transaction amount.**

**b) Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)**

In [48]:
cursor.execute('''
SELECT
    a.Account_Number,
    a.Account_type,
    t.Transaction_amount
FROM
    BANK_ACCOUNT_DETAILS a
JOIN
    BANK_ACCOUNT_TRANSACTION t
ON
    a.Account_Number = t.Account_Number;
''')

rows = cursor.fetchall()

for row in rows:
  print(row)

('4000-1956-3456', 'SAVINGS', -2000)
('4000-1956-2001', 'SAVINGS', -6000)
('4000-1956-2001', 'SAVINGS', -4000)
('4000-1956-2001', 'SAVINGS', -3000)
('4000-1956-2001', 'SAVINGS', -1600)
('4000-1956-2001', 'SAVINGS', 23000)
('5000-1700-6091', 'RECURRING DEPOSITS', 40000)
('4000-1956-3401', 'SAVINGS', 8000)
('4000-1956-5102', 'SAVINGS', -6500)
('4000-1956-5698', 'SAVINGS', -9000)
('4000-1956-9977', 'RECURRING DEPOSITS', 50000)
('9000-1700-7777-4321', 'Credit Card', -8000)
('9000-1700-7777-4321', 'Credit Card', -5000)
('9000-1700-7777-4321', 'Credit Card', -2500)
('5800-1700-9800-7755', 'Credit Card', -9000)
('5890-1970-7706-8912', 'Add-on Credit Card', -11000)

In [49]:
cursor.execute('''
SELECT
    a.Account_Number,
    a.Account_type,
    a.Customer_id,
    a.Balance_amount,
    a.Account_status,
    t.Transaction_amount,
    t.Transaction_Date,
    r.linking_account_number
FROM
    BANK_ACCOUNT_DETAILS a
JOIN
    BANK_ACCOUNT_TRANSACTION t
ON
    a.Account_Number = t.Account_Number
JOIN
     BANK_ACCOUNT_RELATIONSHIP_DETAILS r
ON
     a.Account_Number = r.Account_Number
LIMIT 15;
''')

rows = cursor.fetchall()

for row in rows:
  print(row)

('4000-1956-3456', 'SAVINGS', 123001, 200000, 'ACTIVE', -2000, '2020-01-13', '')
('4000-1956-2001', 'SAVINGS', 123002, 400000, 'ACTIVE', -6000, '2020-03-23', '')
('4000-1956-2001', 'SAVINGS', 123002, 400000, 'ACTIVE', -4000, '2020-02-14', '')
('4000-1956-2001', 'SAVINGS', 123002, 400000, 'ACTIVE', -3000, '2020-04-24', '')
('4000-1956-2001', 'SAVINGS', 123002, 400000, 'ACTIVE', -1600, '2020-01-19', '')
('4000-1956-2001', 'SAVINGS', 123002, 400000, 'ACTIVE', 23000, '2020-03-15', '')
('5000-1700-6091', 'RECURRING DEPOSITS', 123004, 7500000, 'ACTIVE', 40000, '2020-02-19', '4000-1956-2900')
('4000-1956-9977', 'RECURRING DEPOSITS', 123007, 7025000, 'ACTIVE', 50000, '2020-01-16', '5000-1700-9800')
('9000-1700-7777-4321', 'Credit Card', 123007, 0, 'INACTIVE', -8000, '2020-03-13', '5000-1700-9800')
('9000-1700-7777-4321', 'Credit Card', 123007, 0, 'INACTIVE', -5000, '2020-02-17', '5000-1700-9800')
('9000-1700-7777-4321', 'Credit Card', 123007, 0, 'INACTIVE', -2500, '2020-04-21', '5000-1700-9800')
('5800-1700-9800-7755', 'Credit Card', 123006, 0, 'ACTIVE', -9000, '2020-04-13', '4000-1956-5698')
('5890-1970-7706-8912', 'Add-on Credit Card', 123006, 0, 'ACTIVE', -11000, '2020-03-12', '5800-1700-9800-7755')

**9.a) Display records of All Accounts , their Account_types, the transaction amount.**

**b) Along with first step, Display other columns with corresponding linking account number, account types**

**c) After retrieving all records of accounts and their linked accounts, display the   transaction amount of accounts appeared  in another column.(26 Rows)**

In [50]:
cursor.execute('''
SELECT
    a.Account_Number,
    a.Account_Type,
    t.Transaction_amount
FROM
    BANK_ACCOUNT_DETAILS a
LEFT JOIN
    BANK_ACCOUNT_TRANSACTION t
ON
    a.Account_Number = t.Account_Number;
''')

rows = cursor.fetchall()

for row in rows:
  print(row)

('4000-1956-3456', 'SAVINGS', -2000)
('5000-1700-3456', 'RECURRING DEPOSITS', None)
('4000-1956-2001', 'SAVINGS', -6000)
('4000-1956-2001', 'SAVINGS', -4000)
('4000-1956-2001', 'SAVINGS', -3000)
('4000-1956-2001', 'SAVINGS', -1600)
('4000-1956-2001', 'SAVINGS', 23000)
('5000-1700-5001', 'RECURRING DEPOSITS', None)
('4000-1956-2900', 'SAVINGS', None)
('5000-1700-6091', 'RECURRING DEPOSITS', 40000)
('4000-1956-3401', 'SAVINGS', 8000)
('4000-1956-5102', 'SAVINGS', -6500)
('4000-1956-5698', 'SAVINGS', -9000)
('5000-1700-9800', 'SAVINGS', None)
('4000-1956-9977', 'RECURRING DEPOSITS', 50000)
('9000-1700-7777-4321', 'Credit Card', -8000)
('9000-1700-7777-4321', 'Credit Card', -5000)
('9000-1700-7777-4321', 'Credit Card', -2500)
('5900-1900-9877-5543', 'Add-on Credit Card', None)
('5000-1700-7755', 'SAVINGS', None)
('5800-1700-9800-7755', 'Credit Card', -9000)
('5890-1970-7706-8912', 'Add-on Credit Card', -11000)

In [51]:
cursor.execute('''
SELECT
    a.Customer_id,
    a.Account_Number,
    a.Account_Type,
    a.Balance_amount,
    t.Transaction_amount,
    t.Transaction_date
FROM
    BANK_ACCOUNT_DETAILS a
LEFT JOIN
    BANK_ACCOUNT_TRANSACTION t
ON
    a.Account_Number = t.Account_Number;
''')

rows = cursor.fetchall()

for row in rows:
  print(row)

(123001, '4000-1956-3456', 'SAVINGS', 200000, -2000, '2020-01-13')
(123001, '5000-1700-3456', 'RECURRING DEPOSITS', 9400000, None, None)
(123002, '4000-1956-2001', 'SAVINGS', 400000, -6000, '2020-03-23')
(123002, '4000-1956-2001', 'SAVINGS', 400000, -4000, '2020-02-14')
(123002, '4000-1956-2001', 'SAVINGS', 400000, -3000, '2020-04-24')
(123002, '4000-1956-2001', 'SAVINGS', 400000, -1600, '2020-01-19')
(123002, '4000-1956-2001', 'SAVINGS', 400000, 23000, '2020-03-15')
(123002, '5000-1700-5001', 'RECURRING DEPOSITS', 7500000, None, None)
(123003, '4000-1956-2900', 'SAVINGS', 750000, None, None)
(123004, '5000-1700-6091', 'RECURRING DEPOSITS', 7500000, 40000, '2020-02-19')
(123004, '4000-1956-3401', 'SAVINGS', 655000, 8000, '2020-01-19')
(123005, '4000-1956-5102', 'SAVINGS', 300000, -6500, '2020-03-14')
(123006, '4000-1956-5698', 'SAVINGS', 455000, -9000, '2020-03-27')
(123007, '5000-1700-9800', 'SAVINGS', 355000, None, None)
(123007, '4000-1956-9977', 'RECURRING DEPOSITS', 7025000, 50000, '2020-01-16')
(123007, '9000-1700-7777-4321', 'Credit Card', 0, -8000, '2020-03-13')
(123007, '9000-1700-7777-4321', 'Credit Card', 0, -5000, '2020-02-17')
(123007, '9000-1700-7777-4321', 'Credit Card', 0, -2500, '2020-04-21')
(123007, '5900-1900-9877-5543', 'Add-on Credit Card', 0, None, None)
(123008, '5000-1700-7755', 'SAVINGS', 0, None, None)
(123006, '5800-1700-9800-7755', 'Credit Card', 0, -9000, '2020-04-13')
(123006, '5890-1970-7706-8912', 'Add-on Credit Card', 0, -11000, '2020-03-12')

In [52]:
cursor.execute('''
SELECT
    a.Customer_id,
    a.Account_Number,
    a.Account_Type,
    a.Balance_amount,
    t.Transaction_amount AS Transaction_Amount_1,
    t.Transaction_amount AS Transaction_Amount_2
FROM
    BANK_ACCOUNT_DETAILS a
LEFT JOIN
    BANK_ACCOUNT_TRANSACTION t
ON
    a.Account_Number = t.Account_Number;
''')
rows = cursor.fetchall()

for row in rows:
  print(row)

(123001, '4000-1956-3456', 'SAVINGS', 200000, -2000, -2000)
(123001, '5000-1700-3456', 'RECURRING DEPOSITS', 9400000, None, None)
(123002, '4000-1956-2001', 'SAVINGS', 400000, -6000, -6000)
(123002, '4000-1956-2001', 'SAVINGS', 400000, -4000, -4000)
(123002, '4000-1956-2001', 'SAVINGS', 400000, -3000, -3000)
(123002, '4000-1956-2001', 'SAVINGS', 400000, -1600, -1600)
(123002, '4000-1956-2001', 'SAVINGS', 400000, 23000, 23000)
(123002, '5000-1700-5001', 'RECURRING DEPOSITS', 7500000, None, None)
(123003, '4000-1956-2900', 'SAVINGS', 750000, None, None)
(123004, '5000-1700-6091', 'RECURRING DEPOSITS', 7500000, 40000, 40000)
(123004, '4000-1956-3401', 'SAVINGS', 655000, 8000, 8000)
(123005, '4000-1956-5102', 'SAVINGS', 300000, -6500, -6500)
(123006, '4000-1956-5698', 'SAVINGS', 455000, -9000, -9000)
(123007, '5000-1700-9800', 'SAVINGS', 355000, None, None)
(123007, '4000-1956-9977', 'RECURRING DEPOSITS', 7025000, 50000, 50000)
(123007, '9000-1700-7777-4321', 'Credit Card', 0, -8000, -8000)
(123007, '9000-1700-7777-4321', 'Credit Card', 0, -5000, -5000)
(123007, '9000-1700-7777-4321', 'Credit Card', 0, -2500, -2500)
(123007, '5900-1900-9877-5543', 'Add-on Credit Card', 0, None, None)
(123008, '5000-1700-7755', 'SAVINGS', 0, None, None)
(123006, '5800-1700-9800-7755', 'Credit Card', 0, -9000, -9000)
(123006, '5890-1970-7706-8912', 'Add-on Credit Card', 0, -11000, -11000)

**10)Display all saving account holders have Add-on Credit Cards" and Credit cards" (3 Rows)**

In [53]:
cursor.execute('''
SELECT DISTINCT
    s.Customer_id,
    s.Account_Number AS Saving_Account,
    c.Account_Number AS Credit_Card_Account
FROM BANK_ACCOUNT_DETAILS s
JOIN BANK_ACCOUNT_DETAILS c
    ON s.Customer_id = c.Customer_id
WHERE s.Account_Type = 'Saving'
  AND c.Account_Type IN ('Credit Card', 'Add-on Credit Card');
''')
rows = cursor.fetchall()

for row in rows:
  print(row)

**11)  Display  records of SAVINGS account linked with Credit cards" account_type and its credit**

In [54]:
cursor.execute("""
SELECT
    s.account_number AS savings_account,
    c.account_number AS credit_card_account,
    SUM(t.transaction_amount) AS total_credit_transactions
FROM
    Bank_Account_Details s
JOIN
    Bank_Account_Relationship_Details r
    ON s.account_number = r.account_number
JOIN
    Bank_Account_Details c
    ON r.linking_account_number = c.account_number
JOIN
    BANK_ACCOUNT_TRANSACTION t
    ON c.account_number = t.account_number
WHERE
    s.account_type = 'SAVINGS'
    AND c.account_type = 'Credit Card';
""")
rows = cursor.fetchall()

for row in rows:
  print(row)

(None, None, None)